<h1>Create a New Idea</h1>
<%= render partial: 'form' %>
<script type="text/javascript">
    $(document).ready(function() {
        $('#article_symbol').bind("change",function(){
            var symbol = $('#article_symbol').val();
            var d = new Date();
            mm = d.getMonth()+1;
            dd = d.getDate();
            if (mm<10) { mm = '0' + mm };
            if (dd<10) { dd = '0' + dd };
            var today = d.getFullYear()+'-'+mm+'-'+dd;
            var callback = function(json) {
                  var price=json.query.results.quote.LastTradePriceOnly;
                  //alert('Stock Price: ' + price);
                  $('#article_price').val(price);
                  $('#article_date').val(today);
              };
            var url = "https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22"+symbol+"%22)%0A%09%09&env=http%3A%2F%2Fdatatables.org%2Falltables.env&format=json";
            $.getJSON(url, callback);
        });
    });
</script>
